<div class="quick-wrap">
	<div class="quick-inner">
		<div class="quick-menu">
			<div class="text-effect">
				<ul class="Words">
					<li class="Words-line">
						<p>&nbsp;</p>
						<p>텍스트</p>
					</li>
					<li class="Words-line">
						<p>텍스트</p>
						<p>텍스트</p>
					</li>
					<li class="Words-line">
						<p>텍스트2</p>
						<p>텍스트3</p>
					</li>
					<li class="Words-line">
						<p>텍스트3</p>
						<p>텍스트4</p>
					</li>
					<li class="Words-line">
						<p>텍스트4</p>
						<p>텍스트5</p>
					</li>
					<li class="Words-line">
						<p>텍스트5</p>
						<p>텍스트6</p>
					</li>
					<li class="Words-line">
						<p>텍스트6</p>
					</li>
				</ul>
			</div>
		</div>
		<!-- <p class="quick-top-btn"><a href="javascript:void(0);" onclick="topMove();"><img src="../image/quick/quick_top.png" alt="위로이동" title="상단이동"></a></p> -->
	</div>
</div>
