<div class="header-wrap">
	<div class="visual"></div>
	<div class="scroll_visual_wrap">
		<div class="scroll_visual_inner">
			<div class="scroll_visual"><img src="pc/image/main/scroll_icon.png" alt="mouse scroll"></div>
		</div>
	</div>
	<!-- <div class="content">
		<div class="content_container">
			<p class="content_container_text">Mouse Scroll :</p>
			<ul class="content_container_list">
				<li class="content_container_list_item">TEXT1 !</li>
				<li class="content_container_list_item">TEXT2 !</li>
				<li class="content_container_list_item">TEXT3 !</li>
				<li class="content_container_list_item">TEXT4 !</li>
			</ul>
		</div>
	</div> -->
</div>

